target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/resources/gradle/wrapper/gradle-wrapper.jar
.asciidoctor/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr
out/
gen/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

### VS Code ###
.vscode/

### Custom/OS ###
log/
logs/
*.log
.DS_Store
Thumbs.db
